<ion-content [fullscreen]="true">

  <div id="container" class="back">
    <h1>
      YOUR <br />ART <br /> MUSEUM</h1>
    <p id="p-text">151 3rd St <br>San Francisco, CA 94103</p>


    <div id="input-fields">
      <ion-item style="border-bottom: 1px solid black;">
        <ion-input type="text" placeholder="Email Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <p href="#" id="forgot-password">Forgot your password?</p>
      <div>
        <button id="login-button" ion-button>Log In</button>
      </div>
      <p href="#" id="create-account">Don't have an account?</p>
    </div>
  </div>
</ion-content>